<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--配置连接数据库信息-->
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:accp</property>
        <property name="connection.username">scott</property>
        <property name="connection.password">tiger</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>

        <!--导入 实体类映射文件-->
        <!--<mapping resource="xml/User.hbm.xml" />-->
        <!--<mapping resource="xml/House.hbm.xml" />-->
        <!--<mapping resource="xml/District.hbm.xml"/>-->
        <!--<mapping resource="xml/Street.hbm.xml"/>-->
        <!--<mapping resource="xml/Project.hbm.xml"/>-->
        <!--<mapping resource="xml/Emp.hbm.xml"/>-->
        <!--<mapping resource="xml/Type.hbm.xml"/>-->
        <mapping class="cn.accp.entity.District"/>
        <mapping class="cn.accp.entity.House"/>
        <mapping class="cn.accp.entity.Street"/>
        <mapping class="cn.accp.entity.Type"/>
        <mapping class="cn.accp.entity.User"/>
    </session-factory>
</hibernate-configuration>